<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->

    <!-- sample program node -->

    <!-- <node pkg="burger_war_dev" type="randomRun.py" name="randomRun" output="screen"/> -->
    <node pkg="burger_war_dev" type="pupeRun.py" name="pupeRun" output="screen"/>
    <node pkg="burger_war_dev" type="WarStateWatcher.py" name="warStateWatcher" output="screen"/>   
    <node pkg="burger_war_dev" type="ImageProcessor.py" name="imageProcessor" output="screen"/>
    <node pkg="burger_war_dev" type="ScanEnemyDetector.py" name="scanEnemyDetector" output="screen"/>
    <!-- <include file="$(find obstacle_detector)/launch/nodes.launch" /> -->


    <!-- END sample program node -->

    <!-- Navigation sample program  -->
    <include file="$(find burger_navigation)/launch/burger_navigation.launch" />
    
    <!-- Record bag -->
    <arg name="topics" default="/limited_cmd_vel /enemy_bot/limited_cmd_vel /war_state /gazebo/model_states /odom"/>
    <arg name="output_setting" default="-o $(find burger_war_dev)/data/rosbag/rosbag"/>
    <node name="bag_record" pkg="rosbag" type="record" args="record  $(arg output_setting) $(arg topics)"/>

    <!-- <include file="$(find burger_navigation)/launch/burger_slam.launch" /> -->
   
    <!-- END Navigation sample program node -->

    <!-- End of your space  -->
</launch>
