<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->

    <!-- sample program node -->

    <!--<node pkg="burger_war_dev" type="main.py" name="randomRun" output="screen"/> -->

    <!-- END sample program node -->

    <!-- Navigation sample program  -->
   
    <include file="$(find burger_navigation)/launch/burger_navigation.launch" /> 
    <node pkg="burger_war_dev" type="main.py" name="navirun" output="screen"/> 
    
    <!-- END Navigation sample program node -->

    <!-- End of your space  -->
</launch>

