<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->



    <!-- Navigation起動 -->
    <include file="$(find burger_navigation)/launch/burger_navigation.launch" />

    <node pkg="burger_war_dev" type="fujita_main_preliminary.py" name="Samplerun" output="screen"/>
<!--
    <node pkg="burger_war_dev" type="fujita_main.py" name="Samplerun" output="screen"/>

    -->

<!--

	<include file="$(find obstacle_detector)/launch/obstacle_detector.launch" />
-->


	<!-- obstacle detector -->



    <!-- End of your space  -->
</launch>

